<div id="<%= dom_id categories_weapon %>">
  <p>
    <strong>Category:</strong>
    <%= categories_weapon.category_id %>
  </p>

  <p>
    <strong>Weapon:</strong>
    <%= categories_weapon.weapon_id %>
  </p>

</div>
