<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Order</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to 'All Orders', orders_path, class: button_class(theme: "transparent") %>
      <%= link_to 'Edit', edit_order_path(@order), class: button_class(theme:"primary") %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Total price:</p>
        <p><%= @order.total_price %></p>
      </li>
      <li>
        <p class="font-semibold">User:</p>
        <p><%= @order.user %></p>
      </li>
  </ul>
</div>