<div id="<%= dom_id weapon %>">
  <p>
    <strong>Name:</strong>
    <%= weapon.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= weapon.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= weapon.price %>
  </p>

</div>
