<div id="<%= dom_id order_line %>">
  <p>
    <strong>Weapon:</strong>
    <%= order_line.weapon_id %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= order_line.count %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= order_line.order_id %>
  </p>

</div>
